QWidget {
    background-color: rgb(7, 60, 107);
}

QLineEdit {
    background-color: white;
    font-size: 14pt;
}

QLabel {
    color: white;
}

QTableWidget {
    background-color: white;
}

#main_label {
    font-size: 22pt;
}

#auxiliary_label {
    font-size: 16pt;
    color: rgb(130, 158, 181)
}

QPushButton {
    border: none;
}

QScrollArea {
    padding: 0px;
    border: none;
}

QScrollBar:vertical {
    /*border: 2px solid grey;*/
    background: white;
    border-radius: 2px;
    width: 10px;
}

QScrollBar::handle:vertical {
    background: #64b5f6;
    border-radius: 2px;
    width: 10px;
}

QScrollBar::add-line:vertical, QScrollBar::sub-line:vertical {
    height: 0px;
}


#text_button {
    color: white;
    font-size: 16pt;
}

#text_button:hover {
    background-color: #64b5f6;
    border-radius: 3px;
}

#text_button:pressed {
    background-color: #bbdefb;
}

#ok_button {
    background-color: rgb(138, 222, 245);
}

#ok_button:hover {
    background-color: #64b5f6;
    /*border-radius: 3px;*/
}

#ok_button:pressed {
    background-color: #bbdefb;
}